body {
    background-color: ivory;
    font-family: 'Jokerman', sans-serif;
  }
  nav{
    background-color:ivory;
    position:fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    z-index: 1;
  }
  nav ul li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
  }
  #brand {
    float: left;
  }
  .nav-link {
    color: indigo;
    text-decoration: none;
    font-family: 'Ravie', sans-serif;
  }
  .nav-link:hover {
    color: aqua;
    font-weight: bold;
  }
  #brand .nav-link {
    color: indigo;
    font-size: 14pt;
  }
  #brand .nav-link:hover {
    color: blue;
  }
  h1 {
    font-size:60pt;
    font-family: 'Ravie', sans-serif;
  }
  #home {
    margin-top: 50px;
    position: relative;
    left: -8px;
    width: 100vw;
    height: 30vh;
    padding-top: 3em;
    background: url("https://images.unsplash.com/photo-1433888104365-77d8043c9615?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80") center 75% no-repeat fixed;
    background-size: cover;
  }
  .header-tag {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black
  }
  h3.header-tag {
    margin-top: -30px;
    font-size: 18pt;
  }
  h2 {
    font-family: 'Ravie', sans-serif;
    color: indigo;
  }
  .main {
    text-align: center;
  }
  #about {
    margin-top: 50px;
    display: inline-block;
  }
  #about-picture {
    width: 30vw; 
    float: left;
  }
  #profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px black;
  }
  #about-content {
    width: 40vw;
    float: right;
    color: indigo;
  }
  #more {
    float: right;
    padding: 10px;
    color: indigo;
    display: inline-block;
    width: 40vw;
    margin-right: 100px;
  }
  h4 {
    font-family: 'ravie', sans-serif;
  }